.buttonsContainer {
    width: 100%;
    display: flex;
    gap: 24px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    margin-top: 88px;
    align-items: center;
    gap: 87px;
}

.imageContainer {
    width: 451px;
    max-width: 100%;
    display: flex;
    justify-content: right;
}

.image {
    max-width: 100%;
}

.textContainer{
    width: 510px;
    max-width: 100%;
}

.code {
    font-size: 30px;
    font-weight: 500;
}

.text {
    margin-top: 12px;
    font-size: 16px;
}
.info {
    font-size: 16px;
}