.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    display: flex;
    gap: 5px;
}

.developerHeader {
    display: flex;
    gap: 5px;
}

.row {
    display: flex;
    padding: 11px 17px;
}

.rowHeader {
    margin-top: 36px;
    padding: 11px 17px;
    display: flex;
    background-color: #E5E5E5;
    font-weight: 600;
    text-transform: capitalize;
}

.loading  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 99;
}