.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    input{
        max-width: 100%;
        width: 372px;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 12px;
        border-radius: 5px;
    }
}

.error {
    color: red;
}

.input {
    border: 1px solid #D1D1D1;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
}

.button {
    font-size: 14px;
    padding: 8px 24px;
    border-radius: 3px;
    border: 2px solid #0066CC;
    background-color: #0066CC;
    color: white;
    text-transform: capitalize;
    cursor: pointer;

}

.button:focus {
}

.button:active {
    color: #0066CC;
    background: white;
}

.button:disabled {
}

.text {
    color: #00000080;
    font-size: 14px;
    margin-bottom: 12px;
}

.greeting {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
